@import uk.gov.hmrc.childcarecalculatorfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.childcarecalculatorfrontend.controllers.routes._
@import uk.gov.hmrc.childcarecalculatorfrontend.utils.FormHelpers
@import uk.gov.hmrc.childcarecalculatorfrontend.models.{Mode, $className$}
@import uk.gov.hmrc.childcarecalculatorfrontend.viewmodels.InputViewModel

@(appConfig: FrontendAppConfig, form: Form[$className$], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className;format="cap"$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.back_link()
        
        @components.heading("$className;format="decap"$.heading")

        @components.input_text(InputViewModel[$className$]("field1", form), label = messages("$className;format="decap"$.field1"))

        @components.input_text(InputViewModel[$className$]("field2", form), label = messages("$className;format="decap"$.field2"))

        @components.submit_button()
    }
}
