@import uk.gov.hmrc.childcarecalculatorfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.childcarecalculatorfrontend.controllers.routes._
@import uk.gov.hmrc.childcarecalculatorfrontend.models.Mode
@import uk.gov.hmrc.childcarecalculatorfrontend.utils.FormHelpers
@import uk.gov.hmrc.childcarecalculatorfrontend.viewmodels.InputViewModel

@(appConfig: FrontendAppConfig, form: Form[Boolean], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("yourMaximumEarnings.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = YourMaximumEarningsController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("yourMaximumEarnings.heading")

        @components.input_yes_no(
            InputViewModel[Boolean]("value", form),
            label = messages("yourMaximumEarnings.heading"),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
