

/* vvv added the below until we update assets-frontend vvv */
/********************************************************************/


/* Overrides the stupid Assets Frontend - what were they thinking! */

button,
.button{
  line-height: 1.25em;
  padding: 0.5em 0.6em 0.3em 0.6em;
  font-size: 1em;
}

/* stops the massive overhang on focus in firefox */
.button .visuallyhidden {
  left: 0;
}

.button--get-started {
  line-height: 1.25em;
  padding: 0.36842em 2.15789em 0.21053em 0.84211em;
  padding-right: 40px;
  font-size: 24px;
}

/* add back some margins */

.list {
  margin-bottom: 1.05263em;
  margin-top: 5px;
}


/* Backlink styling */
.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c; }
  @media (min-width: 641px) {
    .link-back {
      font-size: 16px;
      line-height: 1.25; } }
  .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c; }
  .link-back::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px; }



#free-hours-results-entitled .panel-indent {
  margin-bottom: 30px;
}

.panel-border-wide {
  border-left-width: 10px;
}

.green {
    border-color: #006435;
}

.red {
    border-color: #b10e1e;
}

.green, .red, .orange, .grassgreen {
    border-left-width: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}


@media (min-width: 641px) {
  .heading-medium {
      margin-top: 1.875em !important;
  }
}

@media (max-width: 640px) {
  .button {
      width: 94%;
      text-align: center;
  }
}

td.numeric {
  text-align: right;
}

input.form-control {
    border: 2px solid #0b0c0c;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/*
IE8: Remove square border from around new style radio buttons
*/
.lte-ie8 input[type="checkbox"],
.lte-ie8 input[type="radio"] {
    border: none!important;
}
/*
IE8: Fix wrapping of crown on Gov.UK in header
*/
.lte-ie8 #logo img {
    max-width: none;
}
/*
IE8: Add missing arrow to Back Button
*/
#back-button {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAAXNSR0IArs4c6QAAAFRJREFUCB1jYMACSsvK/qMIf/r06X9YePh/Ll5ehMTly5f/m5ubgwXhElu2bPkvISEBFwRLTJ06FUUAJAjCTCiWoHOwGgVThNVymCRW58IkQTTIgwDiajmA797qnwAAAABJRU5ErkJggg==) 0 2px no-repeat
}

.multiple-choice {
  margin-bottom: 0;
}