@import uk.gov.hmrc.childcarecalculatorfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.childcarecalculatorfrontend.controllers.routes._
@import uk.gov.hmrc.childcarecalculatorfrontend.forms.$className;format="cap"$Form
@import uk.gov.hmrc.childcarecalculatorfrontend.models.Mode
@import uk.gov.hmrc.childcarecalculatorfrontend.utils.FormHelpers
@import uk.gov.hmrc.childcarecalculatorfrontend.viewmodels.InputViewModel

@(appConfig: FrontendAppConfig, form: Form[String], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_check_box(
            viewModel = InputViewModel[Set[String]]("value", form),
            legend = messages("$className;format="decap"$.heading"),
            legendClass = Some("visually-hidden"),
            inputs = $className$Form.options
        )

        @components.submit_button()
    }
}
